<div class="header bg-gradient-danger padding-title">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Agro Online!</h1>
          <p class="text-lead text-light">Bienvenido a Agro Online, una aplicación donde podrás administrar tus productos agricolas
            de una manera muy sencilla y segura, diviertete XD.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ingrese sus credenciales</small>
          </div>
          <form [formGroup]="form" autocomplete="off">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Correo" pattern="{{patronVerificar}}" type="email" formControlName="correo">
                <div *ngIf=" form.controls['correo'].invalid && (form.controls['correo'].dirty || form.controls['correo'].touched)">
                  <span style="color: red;"> Formato invalido! EJ: nombreemail@agroonline.com</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Contraseña" pattern="{{patronPassword}}" type="password" minlength="6"
                       formControlName="contrasena" (keydown.enter)="iniciarSesion()">
                <div *ngIf=" form.controls['contrasena'].invalid && (form.controls['contrasena'].dirty || form.controls['contrasena'].touched)">
                <span style="color: red;"> Su contraseña debe contener mínimo 6 y máximo 12
                                           caracteres, debe incluir por lo menos un número,
                                           una mayúscula y minúscula: Eje Agroon1 </span>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="iniciarSesion()">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-right">
          <a [routerLink]="urlRegister" class="text-light"><small>¡Créa tu cuenta aquí XD!</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
