/* You can add global styles to this file, and also import other style files */
.p-datatable.p-component {
  font-size: 80%;
}

.padding-container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button-font-size {
  font-size: 100% !important;
}

.div-center {
  display: flex;
  align-items: center;
}

.p-dialog {
  font-size: 90% !important;
}

.icon-properties {
  margin-left: 15px !important;
  font-size: 80% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.p-inputtext-font-fize {
  font-size: 13px;
  height: 60%;
}

.label-font-size {
  font-size: 14px;
}
